.formulario{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/men2kbron.appspot.com/o/form.jpg?alt=media&token=f34e4b5e-e766-42e9-b6dd-41ee737653c3');
    padding: 10%;
    padding-top: 0%;
    background-position: top center;
    background-attachment: fixed;
    position:relative;
}
.login-form{
    -webkit-box-shadow: 0px 0px 39px 9px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 39px 9px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 39px 9px rgba(0,0,0,0.74);
    text-align: center;
    padding: 5%;
    width: 28%;
    margin: 0 auto;
    background-color: #1c1c1d;
    color: aliceblue;
}
.login-form input{
    width: 100%;
}
.login-form p{
    margin: .5rem;
}


label{
    font-size: 20px;
    margin: 1%;
}
.formfan{
    padding: 5%;
}
.ask{
    padding: 2%;
}
.btn{
    margin: 1rem 0;
}



/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    
    .formulario {
        padding: 10%;
    }

    .login-form {
        width: 100%;
    }

    label {
        font-size: 16px;
    }

}

