.colabs {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/men2kbron.appspot.com/o/colab3.jpg?alt=media&token=965616f4-8bb1-400e-ad77-b2be9e2a03bd');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 15% 5%; /* Ajuste de los valores de padding */
    text-align: center; /* Centra el contenido horizontalmente */
}


.intro h4{
    padding: 0 20%; /* Ajuste de los valores de padding */
    margin-bottom: 5rem;
    text-align: center;
}

.dsc {
    font-size: 1.3rem; /* Ajuste del tamaño de fuente */
}

.artist {
    background-color: #1c1c1d;
    color: aliceblue;
    padding: 2%;
    width: 100%;
    margin-bottom: 1rem;
}

.title_Colaps {
    color: aliceblue;
}

.tema {
    padding-left: 5%;
}

.bannerfoot_colabs {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/men2kbron.appspot.com/o/colabs.jpg?alt=media&token=0dca4097-5607-4c4d-9d85-ff321f929578');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    filter: grayscale(100%);
}

.bannerfoot_colabs img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
