
nav{
    
    background-color: #1c1c1d;
    padding: 10px;
    text-align: center;
    z-index: 2;


}
.amenu{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #ffff;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
}

.amenu:hover{
    color: #cdcd;
    transition: 0.4s all ease;
}

.amenu::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgb(120, 98, 168);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.amenu:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
