.history{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    background-color: #1c1c1d;
    color: aliceblue;
    text-align: center;
    padding-bottom: 5%;

}
.histori{
    text-align: center;
    margin: 7%;
}