
.bannerfoot{

    background-image: url('https://firebasestorage.googleapis.com/v0/b/men2kbron.appspot.com/o/Eladio-Carrion_000.jpg?alt=media&token=9f83c2e2-56e5-4a92-8841-801168dd7580');
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    z-index: 1;
    padding: 10% 15% ;
    filter: grayscale(100%);

}

.tienda{


    padding: 10%;
    padding-top: 0;
}


/*.banner{
    
    padding: 25%;
    position: relative;
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: .5;
    mix-blend-mode: overlay;

}*/